[project]
	description = Powerful, light, feature-rich C library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AlexsJones
[access "refs/for/refs/*"]
	read = group user/AlexsJones
	push = group user/AlexsJones
	label-Code-Review = -2..+2 group user/AlexsJones
	label-Verified = -1..+1 group user/AlexsJones
	rebase = group user/AlexsJones
	removeReviewer = group user/AlexsJones
	submit = group user/AlexsJones
[access "refs/heads/*"]
	read = group user/AlexsJones
	create = group user/AlexsJones
	push = +force group user/AlexsJones
	pushMerge = group user/AlexsJones
[access "refs/tags/*"]
	push = +force group user/AlexsJones
	pushTag = group user/AlexsJones
	pushSignedTag = group user/AlexsJones
